@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  transition: all .2s ease-in-out;
}
::-webkit-scrollbar{
  width: 10px;
}
.formborder{
  border-radius: 0 15px 0 0;
  transform-origin: bottom bottom;
  background-color: black;
}
.formborder2{
  transform-origin: bottom bottom;
  border-radius: 0 15px 0 15px;
  background-color: orange;
}
.formborder3{
  transform-origin: bottom bottom;
  border-radius: 0 15px 15px 0 ;
}
.formContainer{
  border-radius: 0 10px 10px 10px;
}

/* 2 */
.br1{
  border-radius: 15px 15px 0 0;
}
/* 2 */

.Container{
  border-radius: 0 0 10px 10px;
  background-color: white;
}

.mainContainerForm{
  border-radius: 10px 10px 0 0;
  background-color: white;
  position: relative;
}
/* .mainContainerForm::after{
  position: absolute;
  content: "";
  width: 20px;
  height: 100%;
  background-color: white;
  right: -20px;
  bottom: 0;
  border-radius: 0 10px 0 10px ;
  rotate: 180deg;
} */
input,select,textarea{
  background-color: transparent;
  border: none;
  outline: none;
}

input:focus{
  background-color: transparent;
  border: none;
  outline: none;
}
.inputBorder{
 background-color: #ECECEC;

}
input::placeholder{
  color: rgb(78, 78, 78);
}

.addPurchaseInputs {
  @apply w-full flex  flex-col my-2 gap-2 text-gray-700;
}
@media print {
  #orderSummary{
    border: 2px solid #ECECEC !important;
  }
  table{
    background-color: #f3f4f6 !important;
  }
  thead tr {
    background-color: #f3f4f6 !important; /* Gray-100 Tailwind ka equivalent */
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

/* .addPurchaseLabel{
  @apply font-semibold md:text-md text-sm;
} */
.addPurchaseDiv{
  @apply inputBorder w-full p-2 rounded-md;
}
.disButton{
  @apply bg-blue-700 text-white px-6 py-2 rounded-full text-sm
}
